<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Подключаем Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .form-group-custom {
        margin: 0;
    }
</style>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="card-body">
                <h4 class="text-center">Please sign in</h4>
                <form action="/login" method="post">
                    <div class="form-group form-group-custom ">
                        <label for="username"></label>
                        <input type="text" class="form-control" id="username" name="username"
                               aria-describedby="userHelp" autocomplete="username" placeholder="Enter Username">
                        <input type="password" class="form-control" id="password" autocomplete="current-password" name="password"
                               placeholder="Enter Password">
                        <label for="password"> </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </form>
                <div id="message"></div>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>